<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <DeviceControlBoard>
        <Ip>127.0.0.1</Ip>
        <Port>8234</Port>
        <!-- 心跳间隔单位ms -->
        <DeviceHeartBeat>200</DeviceHeartBeat>
        <FactoryMode>0</FactoryMode>
        <!-- 向上时的舵机角度单位ms -->
        <UpAngle>120</UpAngle>
        <!-- 向下时的舵机角度单位ms -->
        <DownAngle>160</DownAngle>
        <!-- 行走电机速度 0 低速, 1 中速, 2 高速 -->
        <WalkMotorSpeed>2</WalkMotorSpeed>
    </DeviceControlBoard>
    <Camera>
        <Left>192.168.1.11</Left>
        <Mid>192.168.1.10</Mid>
        <Right>192.168.1.10</Right>
    </Camera>
</Config>