<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <DeviceControlBoard Name = "设备控制板">
        <Ip Name = "控制板IP地址" Description ="连接控制板Wifi的ip地址，一般情况是192.168.11.252" DataType="4" Range="">127.0.0.1</Ip>
        <Port Name = "控制板端口号" Description ="连接控制板的端口号，一般是8234" DataType="0" Range="0-99999">8234</Port>
        <!-- 心跳间隔单位ms -->
        <DeviceHeartBeat Name = "心跳间隔" Description ="控制板心跳间隔" DataType="0" Range="200-10000">200</DeviceHeartBeat>
        <FactoryMode Name = "工厂模式" Description ="工厂模式" DataType="5" Range="关闭-开启">0</FactoryMode>
        <!-- 向上时的舵机角度单位ms -->
        <UpAngle Name = "向上时的舵机角度" Description ="向上时的舵机角度" DataType="0" Range="0-10000">120</UpAngle>
        <!-- 向下时的舵机角度单位ms -->
        <DownAngle Name = "向下时的舵机角度" Description ="向下时的舵机角度" DataType="0" Range="0-10000">160</DownAngle>
        <!-- 行走电机速度 0 低速, 1 中速, 2 高速 -->
        <WalkMotorSpeed Name = "行走电机速度" Description ="行走电机速度" DataType="5" Range="低速-中速-高速">2</WalkMotorSpeed>
    </DeviceControlBoard>
    <Camera>
        <Left Name = "左侧相机IP地址" Description ="左侧相机IP地址" DataType="4" Range="">192.168.1.11</Left>
        <Mid Name = "中间相机IP地址" Description ="左侧相机IP地址" DataType="4" Range="">192.168.1.10</Mid>
        <Right Name = "右侧相机IP地址" Description ="左侧相机IP地址" DataType="4" Range="">192.168.1.10</Right>
    </Camera>
</Config>